

.image-home{
    width: 76.5rem;
    margin-right: 0rem;
    overflow: hidden;
    
}
.home-layout{
    height: 72vh;
}
.home-text{
    row-gap: 2rem;
    margin-left: 15rem;
}
.button-container-home{
    margin-top: 3.7rem;
}
.home-subtitle{
    width: 55.5rem;
}
.title-size{
 
        font-family: 'AgeoPersonalUseBold';
        font-style: bolder;
        color: var(--main-dark-color);
        font-weight: 200;
        font-size: 7.4rem;
        line-height: 8.2rem;
        text-align: start;
        width: 49.2rem;
        overflow:hidden;
     
        
}

