.image-row{
    height:14rem;
    overflow: hidden;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--background-color);

}

.imagine{
    width:15.4rem;
    filter: contrast(10%) grayscale(1);
    transition: filter 0.6s ease-in-out, scale 0.4s ease-in-out;

}


.imagine:hover{
    filter: contrast(100%) grayscale(0);
    scale: 1.1;
}