.layout{

  width:100vw;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;

}
.layout-secondary{
  
  width:100vw;
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  
  overflow: hidden;

}

.layout-reverse{
  
  width:100vw;
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;
}

.image{
  display: block;
  width: 100%;
  height: auto;
}

.orange-button{
  background-color: var(--orange-color);
  border-radius: 3.2rem;
  font-family: 'Mulish';
  font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 2.4rem;
letter-spacing: 0.03em;
color:white;
padding:2rem;
padding-left: 4.6rem;
padding-right: 4.6rem;
border: 0;
cursor: pointer;
margin-top:1rem;
transition: background-color 0.2s, box-shadow 0.4s ease-in-out ;
}
.orange-button:hover{
  background-color: #ff5900;
  box-shadow: 0.1rem 0.1rem 2rem rgba(255, 102, 0, 0.5);
}
.demo-button{
  background-color: white;
  border-radius: 3.2rem;
  font-family: 'Mulish';
  font-style: normal;
font-weight: 800;
font-size: 1.8rem;
line-height: 2.4rem;
letter-spacing: 0.03em;
color:black;
padding:2rem;
padding-left: 4.6rem;
padding-right: 4.6rem;
border: 1px solid black; 
cursor: pointer;
margin-top:1rem;
margin-left:3rem;
transition: all 0.3s ease-in-out;
}

.demo-button:hover{
  filter: invert(100%);

}



