@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish&display=swap');


@font-face {
  font-family: "AgeoPersonalUse";
  src: local("AgeoPersonalUse"),
   url("./assets/fonts/AgeoPersonalUse.otf") format("truetype");
 
  }
  @font-face {
    font-family: "AgeoPersonalUseBold";
    src: local("AgeoPersonalUseBold"),
     url("./assets/fonts/AgeoPersonalUse-Bold.otf") format("truetype");
   
    }

  .font-face-Regular {
    font-family: "AgeoPersonalUse";
   }

.font-mullish{
font-family: 'Mulish', sans-serif;
}

.font-inter{
  font-family: 'Inter', sans-serif;
  }

body{

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background-color);
    
   }
:root{
    --orange-color: #FF6600;
    --main-dark-color: #0B1B35;
    --black-color: #000000;
    --background-color: #FFFFFF;
    --background-secondary: #F9F9F9;

   }